/build/
.idea/
.vs/
*.vcxproj.user
/src/FileLockingInfoProvider.ComDll/FileLockingInfoProvider_i.c
/src/FileLockingInfoProvider.ComDll/FileLockingInfoProvider_i.h
/src/FileLockingInfoProvider.ComDll/FileLockingInfoProvider_p.c
/src/FileLockingInfoProvider.ComDll/dlldata.c
/src/FileLockingInfoProvider.ComDll/FileLockingInfoProvider.aps
